// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #ffffff !important;
}

// CUSTOM
.img290{width: 290px;max-width: 300px;}
.stars{width:70px; padding-right: 3px;}

.deal-container.first{
  & table > tbody > tr > th{
    padding-right: 5px !important;
  }
}
.deal-container.last{
  & table > tbody > tr > th{
    padding-left: 5px !important;
  }
}

/* TEXT */
h3{
  margin-top: 5px !important;
}
.small-text{
  font-size: 12px;
  color: #8a8a8a;
  line-height: 5px;
}

.deal-price-amount{
  font-size: 20px;
}

.green-deal__text{
  @extend .deal-price-amount;
  color:$groupon-green--color;
  font-weight: bold;
  line-height: 20px !important;
}

.expiring-price-number{
  @extend .deal-price-amount;
  color: $groupon-expiring--color;
  font-weight: bold;
  line-height: 20px !important;
}

.expiring-deal__info{
  color: $groupon-expiring--color;
  font-size: 11px;
  margin-bottom: 0px !important;
}

.strike{
  text-decoration:line-through;
  color: #8a8a8a;
  padding-right: 4px;
}

/* Content Structure */

.groupon-wrapper{
  background-color: $secondary-color;
  background: $secondary-color;
  .groupon-logo{
    width:160px;
    min-width: 260px;
    padding:20px 0px;
  }
}

.groupon-footer{
  background-color: $secondary-color;
  background: $secondary-color;
  .groupon-footer__container{
    background-color: $secondary-color;
    background: $secondary-color;
    h2{
      font-size: 18px;
      font-weight: bold;
      color: $groupon-green--color;
    }
    .groupon-footer__apps{
      padding-top: 28px;
      padding-bottom: 0px;
    }
    .appstores__container{
      img.app-store--img{
        min-width: 30px;
        max-width: 100px !important;
        float: right;
      }
      img.play-store--img{
        min-width: 30px;
        max-width: 105px !important;
        float: left;
      }
    }
    
  
  }
  .footer-links{
    .footer-links__container{
      text-align: center !important;
    }
    .spacer{
      border-top: 1px solid #d5d8db;
    }  
    a{
      font-size: 13px;
      color: black;
      text-decoration: none;
    }
  }
}
.privacy{
  p{
    font-size: 13px;
    color:#75787b;
    text-align: center;
  }
}
.social-icons{
  text-align: center;
  margin-bottom: 50px;
  .columns{
    padding-bottom: 0px !important;
  }
}.twitter{
  vertical-align: middle;
}


img.header-deal{
  padding-bottom: 30px !important;
  width:100%;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}


.wrapper.secondary {
  background: #f3f3f3;
}