<wrapper class="groupon-footer">
    <container class="groupon-footer__container">
        <row>
            <columns class="groupon-footer__apps">
            <h2 class="text-center">Get the Free Groupon App</h2>
                <center>
                   <table class="appstores__container">
                    <tr>
                        <td align="right" style="padding-right: 5px;">
                            <a href="https://www.groupon.com/mobile?grpn_dl=US_DL_BANNER_EMAIL_FOOTER_COMMERCIAL&utm_source=email&utm_medium=email&utm_campaign=US_DL_BANNER_EMAIL_FOOTER_COMMERCIAL" title="Groupon App"><img src="https://i.postimg.cc/wjpqPDFF/app-store.png" alt="" class="app-store--img"></a>
                        </td>
                        <td align="left"  style="padding-left: 5px;">
                            <a href="https://www.groupon.com/mobile?grpn_dl=US_DL_BANNER_EMAIL_FOOTER_COMMERCIAL&utm_source=email&utm_medium=email&utm_campaign=US_DL_BANNER_EMAIL_FOOTER_COMMERCIAL" title="Groupon App">
                            <img src="https://i.postimg.cc/VvJQrkgJ/play-store.png" alt="" class="play-store--img"></a>
                        </td>
                    </tr>
                   </table>   
                </center>
            </columns>
        </row>
        <spacer size="25"></spacer>
        <row class="footer-links">
            <columns class="footer-links__container">
                <spacer size="8px"></spacer>
            <center>
            <a href="https://www.groupon.com/merchant/signup?utm_source=channel_occasions_im&utm_medium=email&t_division=new-york&date=20210827&uu=873e65a0-4503-11e5-b3ae-002590980766&CID=US&tx=0&s=&c=link&d=GrouponMerchant&utm_campaign=f77f0836-d6eb-437f-8209-47f61dd4022c_0_20210827">Groupon Merchant</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a href="http://www.groupon.com/faq?utm_source=channel_occasions_im&utm_medium=email&t_division=new-york&date=20210827&uu=873e65a0-4503-11e5-b3ae-002590980766&CID=US&tx=0&s=footer&c=link&d=FAQ&utm_campaign=f77f0836-d6eb-437f-8209-47f61dd4022c_0_20210827">FAQ</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a href="http://www.groupon.com/giftcards?utm_source=channel_occasions_im&utm_medium=email&t_division=new-york&date=20210827&uu=873e65a0-4503-11e5-b3ae-002590980766&CID=US&tx=0&s=footer&c=link&d=GiftCards&utm_campaign=f77f0836-d6eb-437f-8209-47f61dd4022c_0_20210827">Gift Cards</a>&nbsp;&nbsp;&nbsp;|&nbsp;
            <a href="http://groupon.com/customer_support?utm_source=channel_occasions_im&utm_medium=email&t_division=new-york&date=20210827&uu=873e65a0-4503-11e5-b3ae-002590980766&CID=US&tx=0&s=footer&c=link&d=ContactUs&utm_campaign=f77f0836-d6eb-437f-8209-47f61dd4022c_0_20210827">Contact</a>
            </center>
            </columns>
        </row>
        <row class="privacy"> 
            <columns>
                <p>
                You are receiving this email because someone@email.com is signed up to receive Groupon communications.
 To adjust how often you receive future Groupon emails, including unsubscribing, click here.
 Delivered by Groupon, Inc. 600 W. Chicago Avenue, Suite 400, Chicago, IL 60654, USA
                </p>
            </columns>
        </row>
        <row class="social-icons" align="center">
            <columns small="3"></columns>
                <columns class="text-center" large="1" small="2">
                <a href="http://www.instagram.com/groupon"><img src="https://i.postimg.cc/fyY4jr4s/instagram.png" alt="Visit our instagram" style="float: right; width:20px;"></a>
                </columns>
                <columns large="1" small="2" >
                    <center>
                        <a href="http://www.facebook.com/groupon"><img src="https://i.postimg.cc/DyVnJqVF/facebook.png" alt="Visit our Facebook" style="margin:0 auto; height:20px;"></a>
                    </center>
                
                </columns>
                <columns large="1" class="twitter" small="2">
                <a href="http://www.twitter.com/groupon"><img src="https://i.postimg.cc/QC9wNnN5/twitter.png" alt="Visit our Twitter" style="float: left; width:25px;vertical-align: bottom;"></a>
                </columns>
            <columns small="3"></columns>
        </row>
        
    </container>
</wrapper>